<html>
  <head>
    <link rel="stylesheet" href="/assets/styles.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
  </head>
  <body>
    <form class="" action="/person" method="post">
      <input type="text" name="firstname" value="">
      <input type="text" name="lastname" value="">
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
